<%- include("partials/header.ejs"); -%>

<h1>Error</h1>
<p>Invalid Phone Number</p>

<form action="/register">
    <button type = "submit" class="btn btn-primary">Try Again</button>
</form>


<%- include("partials/footer.ejs"); -%>