<%- include("partials/header.ejs"); -%>

<!-- <div class="container-fluid bg-light">

    
    <h3>Name : Mikhil Angre</h3>
    <h3>Reg id : 211080031</h3>
    <div class="container">
        <div class="box"><img id="teacher" src="https://img.freepik.com/free-vector/teacher-standing-near-blackboard-holding-stick-isolated-flat-vector-illustration-cartoon-woman-character-near-chalkboard-pointing-alphabet_74855-8600.jpg?w=2000"></div>
        <div class="box"> Hey guysss</div>
    </div>
    
    <p>I learnt the understanding of how web development is a client-server process.
        A get request is sent from our web browser to our server which then processes that information, or if it's too complicated 
        sends that request to another server which calculates and sends back a response to our server which is then sent back to 
        out web browser.
        The whole get request and post request was tough to handle at first but got better with practice.
    </p>

    <p>I have used NodeJS for the backend part which has "express", "body-parser" and "ejs" as additional modules to support node.
        Express is a node js web application framework that provides broad features for building web and mobile applications. It is used to build a single page, multipage, and hybrid web application.
        It's a layer built on the top of the Node js that helps manage servers and routes.
        One of the primary purposes of body-parser is to parse the data sent by a client in the body of an HTTP request. This data can be in various formats, such as JSON, URL-encoded, or XML. body-parser provides middleware functions to automatically parse this data and make it available in a more accessible format for your application to work with.
        EJS allows you to embed JavaScript code directly into your HTML templates, making it easier to generate dynamic content by combining data with static HTML markup.
    </p>

    <p>
        Refer WIM_07 doc and video for complete understanding.
    </p>
</div> -->
<br>
<div><h1 style="font-family: Garamond, serif;"><strong>Why Home Tution ?</strong></h1></div>
<div class="containerss">
    <div class="left-div"><img id="teacher" src="https://img.freepik.com/free-vector/teacher-standing-near-blackboard-holding-stick-isolated-flat-vector-illustration-cartoon-woman-character-near-chalkboard-pointing-alphabet_74855-8600.jpg?w=2000"></div>
    <div class="right-div">
        <h3 style="font-family: 'Tahoma', sans-serif; font-weight:20px; text-align: center;"><i>How does home tution assist children ?</i></h3>
        <ul>
            <li><strong>Individual Attention:</strong> In a classroom, a teacher may have to divide their attention among many students. Home tuition ensures that the student receives undivided attention, making it easier to clarify doubts and ask questions.</li>
            <li><strong>Improved Performance:</strong>  Many students struggle with certain subjects or topics. Home tuition can provide the extra support needed to improve grades and academic performance.</li>
            <li><strong>Flexible Schedule:</strong> Home tuition often offers more flexibility in terms of scheduling. Students and parents can arrange tutoring sessions at convenient times, which can help with time management and reduce stress.</li>
            <li><strong>Confidence Building:</strong> One-on-one interaction with a tutor can boost a student's confidence. When they see progress and understand concepts better, they become more confident in their abilities.</li>
            <li><strong>Addressing Learning Disabilities:</strong> Students with learning disabilities may benefit significantly from home tuition. Tutors can employ specialized techniques and strategies to accommodate the student's needs.</li>
        </ul>
    </div>
</div>


<%- include("partials/footer.ejs"); -%>