<%- include("partials/header.ejs"); -%>

<br>
<div><h1 style="font-family: Garamond, serif;"><strong>Why Home Tution ?</strong></h1></div>
<div class="containerss">
    <div class="left-div"><img id="teacher" src="https://img.freepik.com/free-vector/teacher-standing-near-blackboard-holding-stick-isolated-flat-vector-illustration-cartoon-woman-character-near-chalkboard-pointing-alphabet_74855-8600.jpg?w=2000"></div>
    <div class="right-div">
        <h3 style="font-family: 'Tahoma', sans-serif; font-weight:20px; text-align: center;"><i>How does home tution assist children ?</i></h3>
        <ul>
            <li><strong>Individual Attention:</strong> In a classroom, a teacher may have to divide their attention among many students. Home tuition ensures that the student receives undivided attention, making it easier to clarify doubts and ask questions.</li>
            <li><strong>Improved Performance:</strong>  Many students struggle with certain subjects or topics. Home tuition can provide the extra support needed to improve grades and academic performance.</li>
            <li><strong>Flexible Schedule:</strong> Home tuition often offers more flexibility in terms of scheduling. Students and parents can arrange tutoring sessions at convenient times, which can help with time management and reduce stress.</li>
            <li><strong>Confidence Building:</strong> One-on-one interaction with a tutor can boost a student's confidence. When they see progress and understand concepts better, they become more confident in their abilities.</li>
            <li><strong>Addressing Learning Disabilities:</strong> Students with learning disabilities may benefit significantly from home tuition. Tutors can employ specialized techniques and strategies to accommodate the student's needs.</li>
        </ul>
    </div>
</div>

<%- include("partials/footer.ejs"); -%>