<%- include("partials/header.ejs"); -%>

<div class="container-fluid bg-light">

    <h1><strong>Home Page</strong></h1>
    <h3>Name : Mikhil Angre</h3>
    <h3>Reg id : 211080031</h3>

    <p>I learnt the understanding of how web development is a client-server process.
        A get request is sent from our web browser to our server which then processes that information, or if it's too complicated 
        sends that request to another server which calculates and sends back a response to our server which is then sent back to 
        out web browser.
        The whole get request and post request was tough to handle at first but got better with practice.
    </p>

    <p>I have used NodeJS for the backend part which has "express", "body-parser" and "ejs" as additional modules to support node.
        Express is a node js web application framework that provides broad features for building web and mobile applications. It is used to build a single page, multipage, and hybrid web application.
        It's a layer built on the top of the Node js that helps manage servers and routes.
        One of the primary purposes of body-parser is to parse the data sent by a client in the body of an HTTP request. This data can be in various formats, such as JSON, URL-encoded, or XML. body-parser provides middleware functions to automatically parse this data and make it available in a more accessible format for your application to work with.
        EJS allows you to embed JavaScript code directly into your HTML templates, making it easier to generate dynamic content by combining data with static HTML markup.
    </p>

    <p>
        Refer WIM_07 doc and video for complete understanding.
    </p>
</div>



<%- include("partials/footer.ejs"); -%>