<%- include("partials/header.ejs"); -%>

<div class="container" style = "padding: 40px 40px 40px 40px;">
<h2 style="align-items: center;">Make a difference in the lives of students by contributing to our financial aid program. Your donation helps ease the financial burden, allowing students to focus on their studies and unlock their full potential. 
    Thank you for investing in education and changing lives</h2>
</div>

<div class="form-container">
<form action="/view" method="post">
    <div class="form-group">
        <label for="amount">Donation Amount : </label>
        <input type="number" id="amount" name="amount" placeholder="Enter donation amount" required autocomplete="off">
    </div>
<td> <button class="btn btn-primary px-5 mb-5" type="submit">Pay</button></td>
</form>
</div>


</body>

<%- include("partials/footer.ejs"); -%>