<%- include("partials/header.ejs"); -%>

<div class="container" style = "padding: 40px 40px 40px 40px;">
<h2 style="align-items: center;">Make a difference in the lives of students by contributing to our financial aid program. Your donation helps ease the financial burden, allowing students to focus on their studies and unlock their full potential. 
    Thank you for investing in education and changing lives</h2>
</div>

<form action="/view" method="post">
<td> <button class="btn btn-primary px-5 mb-5" type="submit">Pay</button></td>
</form>

<a href="/analyse">Analyse</a>

<input type="button" class="btn btn-primary" onclick="GeneratePdf();" value="GeneratePdf" id="generate_button">

<script>          
    function GeneratePdf() {
        var element = document.getElementById('table-id');
        html2pdf(element);
    }
</script>

</body>

<%- include("partials/footer.ejs"); -%>