<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>WIM Assign</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/styles.css">  

    <nav class="navbar navbar-dark bg-dark">
      <div class="container">
        <div class="navbar-header ">
          <p class="navbar-brand" id="hometut">Home Tutor</p>
        </div>
          <ul class="nav navbar-nav navbar-right">
            <!-- 6 -->
            <li id="home" class="menu"><a href="/">LOGOUT</a></li>
          </ul>
      </div>
    </nav>
  </head>
</head>
<body>
    <div class="container">
        <h1>Welcome Admin !</h1>

        <h3>Total Donation amount we have : <%= amt %></h3>
        <h3>Number of donors who made donations: <%= num %></h3>

        <h6>Student Requests below: </h6>
    </div>
</body>


<div class="footer-padding">
    <div class="footer">
        <p>Copyright ©2023 Home Tutor Pvt. Ltd. All rights reserved.</p>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script src="index.js"></script>

</body>
</html>
