
.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
    
}
.navbar {
    /* background: gainsboro; */
    background: #F88379;
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 14px;
    letter-spacing: 2px;
    
}
.navbar-nav  li a:hover {
    color: #F88379 !important;
}

.footer-padding {
	padding-bottom: 60px;
}

.footer {
	position:fixed;
	text-align: center;
	bottom: 0;
	width: 100%;
	/* height: auto; */
	/* background-color: grey; */
  background-color: #F88379;
}

.footer p {
	margin-top: 25px;
	font-size: 12px;
  color: #fff;
}

/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    margin-top: 40px;
    background-color: #f1f1f1;
  }
  
  /* Style the buttons that are used to open the tab content */
  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: #ddd;
  }
  
  /* Create an active/current tablink class */
  .tab button.active {
    background-color: #ccc;
  }
  
  /* Style the tab content */
  .tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
  }

#generate_button{
  position: relative;
  margin-left:70%;
}

#hometut{
  font-family: 'Rouge Script', cursive;
  font-size: 75px;
  color: white;
}
#logo{
  width:10px;
  height:30px;
}
.menu a{
  color:white;
}
#teacher{
  height:300px;
  width:570px;
  /* align-items: center; */
}
.containerss {
  display: flex; /* Use flexbox to arrange the divs */
}

.left-div, .right-div {
  width: 50%; /* Set the width of each div to 50% to make them equal width */
  height: 300px; /* Set the height of each div */
  background-color: #ddd; /* Add some styling to the divs */
  text-align: center;
  line-height: 100px; /* Center text vertically */
}
